.header {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffff;
}

.header_links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header_links > a {
    color: #000;
    font-weight: 900;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.header_links > a:hover {
    color: #18cfab;
}